---
Language: Cpp
BasedOnStyle: Google

ColumnLimit: 80
IndentWidth: 2
TabWidth: 2
UseTab: Never

PointerAlignment: Left
ReferenceAlignment: Left

AccessModifierOffset: -2

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

SortIncludes: true

FixNamespaceComments: true
NamespaceIndentation: None

IndentCaseLabels: true
IndentGotoLabels: false

BinPackArguments: true
BinPackParameters: true

AlwaysBreakTemplateDeclarations: Yes
...
